/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

body {
    background-color: #b2b2b2;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.top {
    display: flex;
    align-items: center;
    background-color: #588c7e;
    background: linear-gradient(160deg, #588c7e 60%, #b2b2b2 60%);
    padding: 100px;
}

.about {
  background-color:  #f0f0f0;
  padding: 100px 10px;
  position: relative;
}

.about, .portrait {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logo {
  width: 40px;
}

.logos {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

main {
  padding: 50px;
}

h2 {
  margin-bottom: 10px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
}

.card {
  width: 250px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.placeholder {
  width: 250px;
  height: 150px;
  background-color: red;
}

.cardContent {
  background-color: #f0f0f0;
  padding: 5px;
}

.projectTitle {
  display: flex;
  margin-bottom: 5px;
}

.links {
  display: flex;
  position: absolute;
  right: 5px;
  gap: 5px;
}

main .logo {
  width: 25px;
}
